.vehicle {
  transition: 500ms;
  opacity: 0;
}

/** Colors */

.red::before,
.red div::before {
  filter: url(#red);
}

.black::before,
.black div::before {
  filter: brightness(0.25);
}

.silver::before,
.silver div::before {
  filter: brightness(1.5);
}

.blue::before,
.blue div::before {
  filter: url(#blue);
}

.white::before,
.white div::before {
  filter: brightness(2.5);
}
