.App {
  background: WhiteSmoke;
  color: DimGray;
}

.gear-indicator {
  color: DarkGray;
}

.gear-indicator > .selected {
  color: DimGray;
}

.range > .icon {
  background: url("../assets/day/battery_color_bg.png");
}

.speed > .units {
  color: DarkGray;
}
