.App {
  background: WhiteSmoke;
  color: DimGray;
}

.gear-indicator {
  color: DarkGray;
}

.gear-indicator > .selected {
  color: DimGray;
}

.range > .icon {
  background: url("../assets/day/battery_color_bg.png");
}

.screen-energy .power-line,
.screen-energy .regen-line {
  fill: DarkGray;
}

.screen-energy .value {
  fill: DimGray;
}

.screen-energy .units {
  fill: DarkGray;
}

.speed > .units {
  color: DarkGray;
}
