.App {
  background: WhiteSmoke;
  color: DimGray;
}

.gear-indicator {
  color: DarkGray;
}

.gear-indicator > .selected {
  color: DimGray;
}

.range > .icon {
  background: url("../assets/day/battery_color_bg.png");
}

.regen-gauge .power-line,
.regen-gauge .regen-line {
  fill: DarkGray;
}

.regen-gauge .value {
  fill: DimGray;
}

.regen-gauge .units {
  fill: DarkGray;
}

.speed > .units {
  color: DarkGray;
}
