.gear-indicator {
  display: flex;
  color: DimGray;
}

.light .gear-indicator {
  color: DarkGray;
}

.gear-indicator > span {
  padding: 5px;
}

.gear-indicator > .selected {
  color: white;
  font-weight: 500;
}

.light .gear-indicator > .selected {
  color: DimGray;
}
