#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.App {
  width: 800px;
  height: 480px;
  position: absolute;
  background: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  transition: 500ms;
}

.App.light {
  background: WhiteSmoke;
  color: DimGray;
}

@keyframes fault {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0.33;
  }
  99% {
    opacity: 0.33;
  }
  100% {
    opacity: 1;
  }
}

.fault {
  animation: fault 500ms;
  animation-iteration-count: 10;
}
