.regen-gauge {
  position: absolute;
  bottom: 100px;
  right: 15px;
}

.regen-gauge .power-line,
.regen-gauge .regen-line {
  fill: DimGray;
}

.regen-gauge .actual-line {
  fill: #ffb641;
}

.regen-gauge .actual-line.regen {
  fill: #02e359;
}

.regen-gauge text {
  text-anchor: middle;
}

.regen-gauge .value {
  fill: white;
  dominant-baseline: text-after-edge;
}

.regen-gauge .units {
  fill: DimGray;
  dominant-baseline: text-before-edge;
  font-size: 12px;
}
