.turn-signal {
  position: relative;
  margin: 0 10px;
  width: 48px;
  height: 48px;
}

.turn-signal.active {
  background: url("../assets/turn_indicator_circle_small.png");
}

.turn-signal.active::after {
  content: "";
  display: block;

  position: absolute;
  top: 4px;
  left: 4px;

  background: url("../assets/turn_indicator_arrow_small.png");
  width: 40px;
  height: 40px;
}

.turn-signal.active.high::after {
  background-position: -40px;
}

.turn-signal.right::after {
  transform: rotate(180deg);
}
