@import "css/gear-indicator.css";
@import "css/overlay.css";
@import "css/range.css";
@import "css/speed.css";
@import "css/telltale.css";
@import "css/temp.css";
@import "css/time.css";
@import "css/turn-signal.css";
@import "css/vehicle.css";

@import "css/screens/energy.css";

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 800px;
  height: 480px;
  position: absolute;
  background: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

.App.light {
  background: WhiteSmoke;
  color: DimGray;
}

@keyframes fault {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0.33;
  }
  99% {
    opacity: 0.33;
  }
  100% {
    opacity: 1;
  }
}

.fault {
  animation: fault 500ms;
  animation-iteration-count: 10;
}
