.App {
  background: WhiteSmoke;
  color: DimGray;
}

.gear-container {
  color: DarkGray;
}

.gear-container > .selected {
  color: DimGray;
}

.range > .icon {
  background: url("assets/day/battery_color_bg.png");
}

.speed > .units {
  color: DarkGray;
}
