@import "css/ambient-temperature.css";
@import "css/current-time.css";
@import "css/gear-indicator.css";
@import "css/overlays.css";
@import "css/range-indicator.css";
@import "css/speedometer.css";
@import "css/telltale-indicators.css";
@import "css/turn-signals.css";
@import "css/vehicle.css";

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 800px;
  height: 480px;
  position: absolute;
  background: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

@keyframes fault {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0.33;
  }
  99% {
    opacity: 0.33;
  }
  100% {
    opacity: 1;
  }
}

.fault {
  animation: fault 500ms;
  animation-iteration-count: 10;
}
